//Colors
$default-background-color: #fff;
$primary-color: #5d50c6 !default;
$secondary-color: #f85e9f !default;
$primary-background-color: #ff5722 !default;
$secondary-background-color: #facd49 !default;
$primary-text-color: #3a2d2f !default;
$secondary-text-color: #938789 !default;

//font-family
$font-primary: 'Roboto', sans-serif;

//8-pt system (spacing)
// As a map for scale-based usage
$space: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    5: 1.5rem,
    6: 2rem,
    7: 3rem,
    8: 4rem,
);
$space-0: 0;
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.5rem;
$space-6: 2rem;
$space-7: 3rem;
$space-8: 4rem;
