//Colors
$primary-color: #5d50c6;
$secondary-color: #f85e9f;
$primary-background-color: #ff5722;
$secondary-background-color: #facd49;
$primary-text-color: #191825bf;
$secondary-text-color: #191825;

//font-family
$font-primary: 'Roboto', sans-serif;
