//Colors
$default-background-color: #ffffff !default;
$primary-color: #5d50c6 !default;
$secondary-color: #f85e9f !default;
$primary-background-color: #ff5722 !default;
$secondary-background-color: #fffbf1 !default;
$primary-text-color: #1f0b04 !default;
$secondary-text-color: #191825 !default;
$tertiary-text-color: #92888b !default;
$sidebar-background-color: #fcb8d0 !default;
$primary-gradient-color: #ffd9cd !default;
$button-border-color: #efebea !default;
$cards-shadow-color: #f2eff0 !default;
$primary-gradient-start-mobile: 15%;
$primary-gradient-end-mobile: 77%;
$primary-gradient-start: 30%;
$primary-gradient-end: 70%;
$pagination-bullet-color: #1918254d !default;
$dark-primary-color: #4f43a8 !default;
$dark-default-background-color: #f3f3f3 !default;
$carousel-button-border: #eee !default;

//font-family
$font-primary: 'Roboto', sans-serif;

// breakpoints
$mb: 28.75rem !default; //Mobile breakpoint
$tb: 64rem !default; //tablet breakpoint
$db: 90rem !default; //desktop breakpoint
