@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../components/buttons';
@use '../base/typography';
@use '../abstracts/functions' as fn;

.container {
    //Mobile view
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
    //Tablet View
    @include mixins.breakpoints(variables.$tb) {
        max-width: 1024px;
    }
    //Desktop view
    @include mixins.breakpoints(variables.$db) {
        max-width: 1440px;
    }
}
.main-section {
    //Mobile view
    margin-top: 4rem;
    @include mixins.flex(
        $direction: column,
        $justify: flex-start,
        $alignment: stretch,
        $gap: 4rem
    );
    //Tablet View
    @include mixins.breakpoints(variables.$tb) {
        margin-top: 6.1rem;
        gap: 8rem;
    }
    //Desktop view
    @include mixins.breakpoints(variables.$db) {
        margin-top: 5.3rem;
        gap: 7.9rem;
    }
}

.hero {
    position: relative;
    @include mixins.flex(
        $direction: column,
        $justify: space-between,
        $alignment: center,
        $gap: 4rem
    );
    //Tablet view
    @include mixins.breakpoints(variables.$tb) {
        @include mixins.flex(
            $direction: column,
            $justify: space-between,
            $alignment: center,
            $gap: 10rem
        );
    }
    //Desktop view
    @include mixins.breakpoints(variables.$db) {
        @include mixins.flex(
            $direction: row,
            $justify: center,
            $alignment: center,
            $gap: 7.9rem
        );
        flex-wrap: wrap;
    }
    &__main {
        //Tablet view
        @include mixins.breakpoints(variables.$tb) {
            @include mixins.flex(
                $direction: column,
                $justify: space-between,
                $alignment: center,
                $gap: 4rem
            );
        }
        //Desktop view
        @include mixins.breakpoints(variables.$db) {
            flex-direction: row;
            gap: 0rem;
        }
    }
    &__image {
        height: fn.rem(400);
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
        }
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            width: fn.rem(789);
            height: fn.rem(714);
            img {
                width: 100%;
                height: auto;
            }
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            order: 2;
            width: fn.rem(772);
            height: fn.rem(713);
        }
    }
    &__content {
        @include mixins.flex(
            $direction: column,
            $justify: center,
            $alignment: center,
            $gap: 1.4rem
        );
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            gap: 2.7rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            order: 1;
            justify-content: space-between;
            max-width: fn.rem(420.65);
            align-items: stretch;
            gap: 3.2rem;
        }
    }
    .button-explore {
        z-index: 6;
        width: 14rem;
        height: 3.5rem;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
        @include mixins.button(
            $font-size: 0.9rem,
            $paddings: 0rem 1rem 0.1rem 1.2rem,
            $background-color: transparent,
            $text-color: variables.$secondary-color
        );
        @include mixins.flex(
            $direction: row,
            $justify: center,
            $alignment: center,
            $gap: 0.8rem
        );
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            margin-top: 0;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            padding-bottom: 2.9rem;
        }
    }
    .explore-text {
        margin-top: 0.6rem;
        font-size: 0.875rem;
        line-height: 1.05rem;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            padding-bottom: 0.2rem;
            margin-top: 0rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            padding-top: 2.8rem;
        }
    }
    .icon-hero-explore {
        font-size: 1.6rem;
        margin-top: 0.6rem;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            margin-top: 0rem;
            padding-bottom: 0.2rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            padding-top: 2.5rem;
        }
    }
    &__title {
        margin: 0;
        text-align: center;
        max-width: fn.rem(376);
        .pink {
            color: variables.$secondary-color;
        }
        margin-bottom: 0;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            max-width: fn.rem(608);
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            text-align: left;
            margin: 0;
        }
    }
    &__subtitle {
        text-align: center;
        color: variables.$tertiary-text-color;
        margin: 0;
        max-width: fn.rem(364);

        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            max-width: fn.rem(425);
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            text-align: left;
            margin: 0;
        }
    }
    &__buttons {
        @include mixins.flex(
            $direction: column,
            $justify: center,
            $alignment: center,
            $gap: 1.9rem
        );
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            flex-direction: row;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            justify-content: flex-start;
            align-items: stretch;
        }
    }
    .button-get-started {
        width: 25rem;
        height: 4.1rem;
        @include mixins.button(
            $font-size: 0.9rem,
            $paddings: 0.6rem 1rem 0.8rem 1.2rem,
            $background-color: variables.$primary-color,
            $text-color: variables.$default-background-color
        );
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            width: 8.9rem;
            height: 3.1rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            width: 8.8rem;
            padding: 1.2rem 1rem 2rem 1rem;
        }
    }
    .button-watch-demo {
        width: 25rem;
        height: 4.4rem;
        @include mixins.button(
            $font-size: 0.9rem,
            $paddings: 2.1rem 0.5rem 2rem 0.5rem,
            $background-color: transparent,
            $text-color: variables.$primary-text-color
        );
        border: 0.03125rem solid variables.$button-border-color;
        @include mixins.flex(
            $direction: row,
            $justify: center,
            $alignment: center,
            $gap: 0.4rem
        );
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            width: 11rem;
            height: 0.6rem;
            padding-bottom: 1.6rem;
            padding-top: 1.6rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            height: 3.3rem;
            width: 11rem;
        }
    }
    &__partners {
        @include mixins.flex(
            $direction: row,
            $justify: center,
            $alignment: center,
            $gap: 2.5rem
        );
        flex-wrap: wrap;
        row-gap: 2.2rem;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            @include mixins.flex(
                $direction: row,
                $justify: center,
                $alignment: center,
                $gap: 1.5rem
            );
            row-gap: 2.2rem;
            max-width: fn.rem(640);
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            @include mixins.flex(
                $direction: row,
                $justify: center,
                $alignment: center,
                $gap: 6.3rem
            );
            max-width: fn.rem(1410);
        }
    }
    &__list {
        height: fn.rem(19.2);
        width: auto;

        & img {
            height: 100%;
        }
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            height: fn.rem(32);
        }
    }

    &__background-pattern {
        display: none;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            display: block;
            position: absolute;
            top: 68rem;
            left: 2.3rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            top: 41.5rem;
            left: 2.5rem;
        }
    }
}
