@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../components/buttons';

//Mobile Section
.newsletter {
    margin-top: 4.3rem;
    &__content {
        @include mixins.flex(
            $direction: column,
            $justify: space-between,
            $alignment: center,
            $gap: 2rem
        );
    }
    &__title {
        margin-left: 3.1rem;
        margin-right: 3.1rem;
        text-align: center;
        font-size: 1rem;
        line-height: 1.2rem;
        letter-spacing: 0.2rem;
        color: variables.$secondary-color;
        font-weight: 700;
    }
    &__heading {
        margin-left: 3.1rem;
        margin-right: 3.1rem;
        text-align: center;
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 700;
    }
    &__form {
        margin-top: 2rem;
        @include mixins.flex(
            $direction: column,
            $justify: flex-start,
            $alignment: stretch,
            $gap: 1.7rem
        );
    }
    &__email {
        width: 20.875rem;
        height: 4.5rem;
        border-radius: 1rem;
        padding-left: 1.1rem;
        padding-right: 2.4rem;
        @include mixins.flex(
            $direction: row,
            $justify: center,
            $alignment: center,
            $gap: 1rem
        );
    }
    &__icon {
        font-size: 1.5rem;
        margin-right: 0rem;
        padding: 0;
        padding-right: 0rem;
        padding-left: 1rem;
    }
    .emailid {
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    input[type='email']::placeholder {
        color: variables.$secondary-text-color;
        font-size: 0.875rem;
        line-height: 1.05rem;
    }
    input[type='email'] {
        border: none;
    }

    &__btn {
        width: 20.875rem;
        height: 4.5rem;
        @include mixins.button(
            $fontsize: 1rem,
            $paddings: 0.6rem 1rem 0.8rem 1.2rem,
            $backgroundcolor: variables.$primary-color,
            $textcolor: variables.$default-background-color
        );
        border-radius: 1rem;
    }
}
