@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../components/buttons';
@use '../base/typography';
@use '../abstracts/functions' as fn;

//Mobile Section
.newsletter {
    position: relative;
    &__background-pattern {
        display: none;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            position: absolute;
            display: block;
            left: 1.6rem;
            bottom: 29rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            left: 6rem;
            bottom: 30rem;
            opacity: 0.1;
        }
    }

    &__container {
        @include mixins.flex(
            $direction: column,
            $justify: space-between,
            $alignment: center,
            $gap: 3.9rem
        );
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            padding: fn.rem(90) fn.rem(64) fn.rem(128) fn.rem(64);
            margin: auto;
            background-color: variables.$secondary-background-color;
            width: fn.rem(896);
            height: fn.rem(572);
            border-radius: 2rem;
            justify-content: center;
            gap: 4rem;
            @include mixins.breakpoints(variables.$db) {
                gap: 3.5rem;
                justify-content: space-between;
                padding: fn.rem(145) fn.rem(64) fn.rem(130) fn.rem(64);
                width: fn.rem(1192.65);
                height: fn.rem(601.84);
            }
        }
    }
    &__content {
        @include mixins.flex(
            $direction: column,
            $justify: space-between,
            $alignment: center,
            $gap: 2rem
        );
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            justify-content: center;
            gap: 2rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            gap: 3rem;
        }
    }
    &__title {
        max-width: fn.rem(220);
        margin: 0;
        text-align: center;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            max-width: fn.rem(520);
        }
    }
    &__heading {
        margin: 0;
        text-align: center;
        max-width: fn.rem(294);
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            max-width: fn.rem(670);
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            font-size: 3.4375rem;
            line-height: 4.125rem;
            max-width: fn.rem(850);
        }
    }
    &__form {
        @include mixins.flex(
            $direction: column,
            $justify: space-between,
            $alignment: center,
            $gap: 1.7rem
        );
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            flex-direction: row;
            gap: 2rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            gap: 4.5rem;
        }
    }
    &__email {
        width: 20.875rem;
        height: 4.5rem;
        border-radius: 1rem;
        @include mixins.flex(
            $direction: row,
            $justify: center,
            $alignment: center,
            $gap: 1rem
        );
        &:focus-within {
            box-shadow: 0 0 0 3px rgba(93, 80, 198, 0.35);
        }
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            background-color: variables.$default-background-color;
            width: 31.3rem;
            height: 6rem;
            border-radius: 1.7rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            width: 48rem;
            border-radius: 1.9rem;
        }
    }
    &__icon {
        font-size: 1.5rem;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            font-size: 2.2rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            font-size: 2.1rem;
        }
    }
    input[type='email']::placeholder {
        color: variables.$secondary-text-color;
        font-size: 0.875rem;
        line-height: 1.05rem;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            font-size: 1.4375rem;
            line-height: 1.725rem;
        }
    }
    input[type='email'] {
        border: none;
        outline: none;
        width: 14.3rem;
        height: 4rem;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            width: 25rem;
        }
        //Desktop View
        @include mixins.breakpoints(variables.$db) {
            width: 41rem;
        }
    }

    &__buttons {
        width: 20.875rem;
        height: 4.5rem;
        @include mixins.button(
            $font-size: 1rem,
            $paddings: 0.6rem 1rem 0.8rem 1.2rem,
            $background-color: variables.$primary-color,
            $text-color: variables.$default-background-color
        );
        border-radius: 1rem;
        //Tablet View
        @include mixins.breakpoints(variables.$tb) {
            width: 14.7rem;
            height: 6rem;
            border-radius: 2rem;
            font-size: 1.4375rem;
            line-height: 1.725rem;
            padding: 0;
        }
    }
}
