@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../vendors/icomoon';
.testimonial {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
    &__title {
        font-size: 1rem;
        text-align: center;
        line-height: 1.2rem;
        letter-spacing: 0.2rem;
        font-weight: 700;
        color: variables.$secondary-color;
        margin-left: 0.4rem;
        margin-bottom: 0;
    }
    &__heading {
        text-align: center;
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 700;
        margin-top: 0.9rem;
    }
    .swiper {
        width: 26.875rem;
        height: 43.75rem;
        .swiper-slide {
            height: 31.25rem;
            margin-top: 2.3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .userprofile {
                .img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            .userinfo {
                margin-top: 0.2rem;
                font-size: 1.4rem;
                &__name {
                    color: variables.$primary-background-color;
                    font-size: 1.75rem;
                }
                margin-bottom: 0;
            }
            .userstars {
                margin-top: -2rem;
                display: flex;
                justify-content: space-between;
                gap: 1.2rem;

                .icon-testimonials-star {
                    font-size: 1.8rem;
                }
            }
            .userbio {
                text-align: center;
                font-size: 1.125rem;
                line-height: 1.8rem;
                margin-bottom: 3.7rem;
                margin-left: 1.3rem;
                margin-right: 1.3rem;
            }
        }
        .swiper-pagination-horizontal {
            margin-bottom: 7.8rem;
        }
        .swiper-pagination-bullets {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
        .swiper-pagination-bullet {
            background-color: variables.$pagination-bullet-color;
            width: 1.5rem;
            height: 1.5rem;
            &-active {
                background-color: variables.$secondary-color;
            }
        }
        .swiper-button-prev {
            margin-left: 0.8rem;
            margin-top: 16.5rem;
            width: 4.0625rem;
            height: 4.0625rem;
            border-radius: 50%;
            background: variables.$default-background-color;
            box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.08);
            display: flex;
            align-items: center;
            justify-content: center;
            transition:
                background 0.2s,
                box-shadow 0.2s;
            cursor: pointer;
            border: 0.09375rem solid variables.$carousel-button-border;
            &:hover {
                background: variables.$dark-default-background-color;
                box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.12);
            }
        }
        .swiper-button-next {
            margin-right: 0.6rem;
            margin-top: 16.5rem;
            width: 4.0625rem;
            height: 4.0625rem;
            border-radius: 50%;
            background: variables.$primary-color;
            box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.08);
            display: flex;
            align-items: center;
            justify-content: center;
            transition:
                background 0.2s,
                box-shadow 0.2s;
            cursor: pointer;
            border: 0.09375rem solid variables.$default-background-color;
            &:hover {
                background: variables.$dark-primary-color;
                box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.12);
            }
        }
        .swiper-button-prev::before {
            font-family: 'icomoon';
            content: '\e902';
            content: '\e903';
            content: '\e904';
            color: variables.$primary-text-color;
            font-size: 4rem;
            margin-left: 0rem;
        }
        .swiper-button-next::before {
            font-family: 'icomoon';
            content: '\e900';
            content: '\e901';
            color: variables.$default-background-color;
            margin-right: 0rem;
            font-size: 4rem;
        }
    }
}
