@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../components/buttons';

.footer {
    //Mobile view
    max-width: 26.875rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 5.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //Tablet View
    @include mixins.breakpoints(variables.$tb) {
        max-width: 64rem;
    }
    //Desktop view
    @include mixins.breakpoints(variables.$db) {
        max-width: 90rem;
    }
    &__company {
        display: flex;
        margin-left: 1rem;
        gap: 1rem;
    }
    &__cname {
        margin-top: 0.2rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 900;
    }
    &__description {
        margin-left: 1rem;
        margin-top: 2rem;
    }
    &__socials {
        margin-top: 2rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1.9rem;
        .icon-footer-facebook {
            font-size: 2.1rem;
        }
        .icon-footer-twitter {
            font-size: 2.1rem;
        }
        .icon-footer-instagram {
            font-size: 2.1rem;
        }
    }
    &__sections {
        margin-top: 4.8rem;
        display: flex;
        flex-direction: column;
        gap: 3.3rem;
    }
    &__links {
        display: none;
        max-height: 3rem;
    }
    &__links li {
        list-style: none;
    }
    &__links a {
        font-size: 1rem;
        font-weight: 700;
        color: variables.$secondary-text-color;
        font-family: variables.$font-primary;
        text-decoration: none;
        &:hover {
            color: variables.$primary-text-color;
        }
        &:focus-visible {
            outline: 0.125rem solid variables.$primary-color;
            outline-offset: 0.125rem;
        }
    }
    &__title[aria-expanded='true'] + &__links {
        display: block;
    }
    &__title {
        padding: 0;
        margin-top: 1.1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15.5rem;
        background: none;
        font-size: 1.5rem;
        border: none;
        font-family: variables.$font-primary;
        font-weight: 700;
        cursor: pointer;
        .icon-circle-down {
            font-size: 1.4rem;
            margin-top: -0.4rem;
        }
    }
    .icon-circle-down {
        transition: transform 0.5s ease;
    }
    &__title[aria-expanded='true'] .icon-circle-down {
        transform: rotate(180deg);
    }
}
