//base styles
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    line-height: 1.6;
    background-color: #fff;
    color: $primary-text-color;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}
